<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electric Mayhem</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/aboutUs.css">
</head>
<body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-xl">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Dr. Teeth and the Electric Mayhem</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarWithDropdown" aria-controls="navbarWithDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse show" id="navbarWithDropdown">
            <ul class="navbar-nav">
                
              <li class="nav-item">
                <div id="item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </div>
                
              </li>
              <li class="nav-item">
                <div id="item">

                    <a class="nav-link" href="/aboutUs">About Us</a>
                </div>
              </li>
              <li class="nav-item">
                <div id="item">

                    <a class="nav-link" href="/feedback">Feedback</a>
                </div>
              </li>
              <li class="nav-item">
                <div id="item">

                    <a class="nav-link" href="/chat">Chat</a>
                </div>
              </li>
              
              <li class="nav-item dropdown">
                <div id="item">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Performances
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="/performances"> <i class="fa-sharp fa-solid fa-music" style="color:#FFA132;"></i> The Muppet Show</a></li>
                      <li><a class="dropdown-item" href="/soundtracks"> <i class="fa-sharp fa-solid fa-music" style="color:#FFA132;"></i> Soundtracks</a></li>
                      <li><a class="dropdown-item" href="/albums"> <i class="fa-sharp fa-solid fa-music" style="color:#FFA132;"></i> Albums</a></li>
                    </ul>
                  </li>
                </div>
              
            </ul>
          </div>
        </div>
      </nav>
      <!-- end of nav bar -->
  <h4 id="Title">Band Members:</h4>
<div id="members">
  <div>

    <img src="../images/aboutUs/Teeth.webp" alt="">
    <h5>Dr. Teeth</h5>
  </div>
  <div>

    <img src="./images/aboutUs/TMS-Animal.webp" alt="">
    <h5>Animal-Drums</h5>
  </div>
  <div>

    <img src="./images/aboutUs/Floyd_Pepper_gallerybox.webp" alt="">
    <h5>Floyd Pepper-Guitar </h5>
  </div>
  <div>

    <img src="./images/aboutUs/TMS-Janice.webp" alt="">
    <h5>Janice- Guitar</h5>
  </div>
  <div>

    <img src="./images/aboutUs/TMS-Zoot.webp" alt="">
    <h5>Zoot-Saxophone</h5>
  </div>
  <div>

    <img src="./images/aboutUs/Lips_blue.webp" alt="">
    <h5>Lips-Trumpet</h5>
  </div>

    </div>
    <h4 id="Title">Origins:</h4>
<div id="origin">
      <p>The band made their debut in 1975's The Muppet Show: Sex and Violence. Members of the band were designed and built by Jim Henson, Bonnie Erickson, Michael K. Frith, Dave Goelz and Don Sahlin.

        Known influences for the band and its members include: Dr. John, Elton John, Gato Barbieri, Louis Armstrong, Janice Joplin, The Rolling Stones, The Who, and The Beatles.
        
        In an edition of Ask Henson.com, Karen Falk responded to a question about the origins of the Mayhem band:</p>
        <p>“Music was always an important part of Jim Henson's work. He had a strong interest in all types and had an eclectic record library. When he began writing proposals and creating concepts for The Muppet Show in the late 1960s, they always included a house band that was to appear in each episode. At that time, Jim had a strong interest in the counter-culture movement (as evidenced by his experimental film Youth 68) and sought to reflect that in the composition of the band. One proposal from about 1970 says that the band would "...do songs like "Sunshine" from Hair. In fact, they are all dressed to out-hair the Hair cast."

          The Electric Mayhem as we know it first appeared in 1975 on the Muppet Show pilot Sex and Violence. A page of ideas for the show written by Jim describes the band this way: "Rock act - far-out, elaborate weird equipment, big amps...".”</p>
        </div>
  <div >
    <h4 id="Title">Character Development:</h4>
    
    <div > 
      <img src="../images/aboutUs/SexAndViolencePostcard1.webp" alt="">
      <p id="development">The Mayhem featured in press announcement for The Muppet Show: Sex and Violence pilot</p></div>
    <div>
        <img src="../images/aboutUs/Drteethsketch2.webp" alt="">
        <p id="development">Dr. Teeth concept design by Michael Frith</p></div>
    <div>
        <img src="../images/aboutUs/Floydpeppersketch3.webp" alt="">
        <p id="development">Floyd concept sketch by Michael Frith</p></div>
    <div>
      <img src="../images/aboutUs/Janicesketch4.JPG" alt=""> 
      <p id="development">Janice concept sketch by Michael Frith</p></div>
    <div>
      <img src="../images/aboutUs/Animalsketch5.webp" alt="">
      <p id="development">Animal concept sketches by Bonnie Erickson and Jim Henson</p></div>
    <div>
      <img src="../images/aboutUs/Frith.lips6.webp" alt="">
      <p id="development">ips concept sketch by Michael Frith</p></div>
</div>    
    </div>

    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/f60709c3f5.js" crossorigin="anonymous"></script>
</body>
</html>