/*  
 Name: Deep Saffron
Hex: #FFA132
RGB: (255, 161, 50)
CMYK: 0, 0.368, 0.803, 0

Name: Brandeis Blue
Hex: #005DFF
RGB: (0, 93, 255)
CMYK: 1, 0.635, 0, 0

Name: Fuchsia
Hex: #EF00FF
RGB: (239, 0, 255)
CMYK: 0.062, 1, 0, 0
	
Name: Electric Green
Hex: #00FF0C
RGB: (0, 255, 12)
CMYK: 1, 0, 0.952, 0
	
Name: Ferrari Red
Hex: #FF2400
RGB: (255, 36, 0)
CMYK: 0, 0.858, 1, 0

Name: Aqua
Hex: #00F9FF
RGB: (0, 249, 255)
CMYK: 1, 0.023, 0, 0
*/
body{
    margin: 0;
    color:#FFA132 ;
    background-image: url(../images/backgrounds/278450.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Recursive', sans-serif;  
   
}



a{
    color:#FFA132 ; 
}
#album{
    background-color: rgb(255, 255, 255, .4);
    width:50vh;
    padding: 1%;
    margin-top: 1%;
    color: black;
    border-color: black;
    border-style: solid;

}
#albumSum{
    background-color: rgb(255, 255, 255, .7);
    width:100vh;
    padding: 1%;
    margin-top: 1%;
    color: black;
    border-color: black;
    border-style: solid;

}

img{
    width: 20vh;
    height: 25vh;
    border-color: black;
    border-style: solid;
}

a{
    color: black;
}

a:hover{
    color: black}