/*  
 Name: Deep Saffron
Hex: #FFA132
RGB: (255, 161, 50)
CMYK: 0, 0.368, 0.803, 0

Name: Brandeis Blue
Hex: #005DFF
RGB: (0, 93, 255)
CMYK: 1, 0.635, 0, 0

Name: Fuchsia
Hex: #EF00FF
RGB: (239, 0, 255)
CMYK: 0.062, 1, 0, 0
	
Name: Electric Green
Hex: #00FF0C
RGB: (0, 255, 12)
CMYK: 1, 0, 0.952, 0
	
Name: Ferrari Red
Hex: #FF2400
RGB: (255, 36, 0)
CMYK: 0, 0.858, 1, 0

Name: Aqua
Hex: #00F9FF 
RGB: (0, 249, 255)
CMYK: 1, 0.023, 0, 0
*/

body{
   background-image: url(../images/backgrounds/bandVertical.webp);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   font-family: 'Recursive', sans-serif;  
   
}
.chat-title{
    text-align: center;
    margin-top: 1%;
}
.chat-text{
    color: black;
    width: fit-content;
    font-size: 16px;
}

#Title{
    text-align:left !important;
    align-items: start;
    font-size: 20px;
}